@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-table {
  @apply border w-full;
}
.admin-table > tbody > tr {
  @apply even:bg-gray-100;
}
.admin-table > tbody > tr > td {
  @apply border px-3 py-3 text-center;
}
.admin-table > thead > tr > th {
  @apply border px-3 py-3 bg-accent text-white;
}

.scroll-hr {
  @apply overflow-x-auto flex flex-shrink-0 flex-nowrap;
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: #ffffff;
}

.sidebar {
  background-color: #f5f5f5; 
  color: #333333; 
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode .sidebar {
  background-color: #2c2c2c; 
  color: #ffffff; 
}


.sidebar-link {
  color: #000000;
}

body.dark-mode .sidebar-link {
  color: #f0f2f3; 
}


.sidebar-close-btn {
  color: #333333;
}

body.dark-mode .sidebar-close-btn {
  color: #ffffff;
}


.sidebar-divider {
  border-top: 1px solid #d1d1d1;
}

body.dark-mode .sidebar-divider {
  border-top: 1px solid #4a4a4a; 
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

/* Optional adjustments for containers, margins, etc. */
html[dir="rtl"] .some-container {
  padding-right: 20px;
  padding-left: 0;
}

html[dir="ltr"] .some-container {
  padding-left: 20px;
  padding-right: 0;
}
